<template>
    <v-container grid-list-md text-xs-center class="not-full-height">
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-toolbar>
                        <v-toolbar-title>Alle Bestellungen</v-toolbar-title>
                    </v-toolbar>
                    <v-list two-line subheader>
                        <v-subheader inset>Bestellungen</v-subheader>
                        <v-list-tile
                                @click=""
                                v-for="(order, index) in orders_sorted"
                                :key="index+'_order_kit'"
                        >
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{order.count}} x {{order.dish.title}}, {{order.dish.description}}
                                </v-list-tile-title>
                                <v-list-tile-sub-title>
                                    {{order.person.name}}
                                </v-list-tile-sub-title>
                            </v-list-tile-content>

                            <v-list-tile-action>
                                <v-btn color="success" @click="updateOrder(order.id)" class="ml-2">Bereit</v-btn>
                            </v-list-tile-action>

                            <v-list-tile-avatar>
                                <v-icon large>local_restaurant</v-icon>
                            </v-list-tile-avatar>
                        </v-list-tile>
                    </v-list>
                </v-card>

                <v-card class="mt-4">
                    <v-toolbar>
                        <v-toolbar-title>Zu liefernde Bestellungen</v-toolbar-title>
                    </v-toolbar>
                    <v-list two-line subheader>
                        <v-subheader inset>Bestellungen</v-subheader>
                        <v-list-tile
                                @click=""
                                v-for="(order, index) in orders_waiting"
                                :key="index+'_order_kit'"
                        >
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{order.count}} x {{order.dish.title}}
                                </v-list-tile-title>
                                <v-list-tile-sub-title>
                                    {{order.person.name}}
                                </v-list-tile-sub-title>
                            </v-list-tile-content>

                            <v-list-tile-avatar>
                                <v-icon large>local_pizza</v-icon>
                            </v-list-tile-avatar>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>

        <v-snackbar v-model="updated" absolute multi-line top>
            {{update_message}}
            <v-btn
                    color="pink"
                    flat
                    @click="updated = false"
            >
                Schließen
            </v-btn>
        </v-snackbar>

    </v-container>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "Kitchen",
        data: function(){
            return {
                update_message: '',
                updated: false,
                create: false,
                orders: []
            }
        },
        methods: {
            updateOrder: async function(id){

                this.create = false;
                let response = await axios.put('/order/'+id,{
                    status: 'ready'
                })
                    .then(function(result){
                        console.log(result)
                        this.update_message = 'Gericht bereit.'
                        this.updated = true;
                        this.$store.getters.getSocket.emit('update_order',function(){
                            this.updateOrders();
                        }.bind(this))
                    }.bind(this))
                    .catch(function(error){
                        console.log(error)
                        this.update_message = 'Bestellung konnte nicht aktualisiert werden.'
                        this.updated = true;
                    }.bind(this))

                this.name = '';
            },
            updateOrders: function(){
                this.orders = [];
                let orders = axios.get('/orders')
                    .then(result=>{
                        this.orders = result.data.data;
                    })
                    .catch(error=>{
                        console.log(error)
                    })
            }
        },
        mounted: function(){
            let orders = axios.get('/orders')
                .then(result=>{
                    this.orders = result.data.data;
                })
                .catch(error=>{
                    console.log(error)
                })

            this.$store.getters.getSocket.on('update_order', function(msg){
                this.updateOrders();
            }.bind(this));

            this.$store.getters.getSocket.on('update_dish', function(msg){
                this.updateOrders();
            }.bind(this));

            this.$store.getters.getSocket.on('update_person', function(msg){
                this.updateOrders();
            }.bind(this));

        },
        computed: {
            orders_sorted: function(){
                return this.orders.length > 0 ? this.orders.filter(o => o.status == 'ordered').reverse() : [];
            },
            orders_waiting: function(){
                return this.orders.length > 0 ? this.orders.filter(o => o.status == 'ready').reverse() : [];
            }
        }
    }
</script>

<style scoped>

</style>
