<template>
    <v-container grid-list-md text-xs-center class="not-full-height">
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-toolbar>
                        <v-toolbar-title>Alle Bestellungen</v-toolbar-title>
                        <v-btn
                                fab
                                medium
                                color="red accent-2"
                                bottom
                                right
                                absolute
                                @click="create=true"
                        >
                            <v-icon>add</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-list two-line subheader>
                        <v-subheader inset>Bestellungen</v-subheader>
                        <v-list-tile
                                @click=""
                                v-for="(order, index) in orders_ready"
                                :key="index+'_order_ready'"
                        >
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{order.person.name}}
                                </v-list-tile-title>
                                <v-list-tile-sub-title>
                                    {{order.dish.title}} (x{{order.count}})
                                </v-list-tile-sub-title>
                            </v-list-tile-content>

                            <v-list-tile-action>
                                <v-btn color="success" @click="updateOrder(order.id)" class="ml-2">Abliefern</v-btn>
                            </v-list-tile-action>

                            <v-list-tile-avatar>
                                <v-icon large>local_pizza</v-icon>
                            </v-list-tile-avatar>
                        </v-list-tile>

                        <v-list-tile
                                @click=""
                                v-for="(order, index) in orders_made"
                                :key="index+'_order_made'"
                        >
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{order.person.name}}
                                </v-list-tile-title>
                                <v-list-tile-sub-title>
                                    {{order.dish.title}} (x{{order.count}})
                                </v-list-tile-sub-title>
                            </v-list-tile-content>

                            <v-list-tile-action>
                                <v-btn color="warning" :disabled="true" @click="deleteOrder(order.id)" class="ml-2">Koche....</v-btn>
                            </v-list-tile-action>

                            <v-list-tile-avatar>
                                <v-icon large>timelapse</v-icon>
                            </v-list-tile-avatar>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>
        <v-dialog v-model="create" scrollable persistent full-width>
            <v-card>
                <v-stepper style="overflow-y:scroll" v-model="e1">
                    <v-stepper-header>
                        <v-stepper-step :complete="e1 > 1" step="1">Wähle einen Gast</v-stepper-step>

                        <v-divider></v-divider>

                        <v-stepper-step :complete="e1 > 2" step="2">Wähle ein Gericht</v-stepper-step>

                        <v-divider></v-divider>

                        <v-stepper-step step="3">Anzahl</v-stepper-step>
                    </v-stepper-header>

                    <v-layout row wrap align-center class="mt-4">
                        <v-flex xs12 style="display: flex; justify-content: center">
                            <v-chip v-if="person_id != 0" color="indigo" text-color="white">
                                <v-avatar>
                                    <v-icon>face</v-icon>
                                </v-avatar>
                                {{personName}}
                            </v-chip>
                            <v-chip  v-if="dish_id != 0" color="orange" text-color="white">
                                <v-avatar>
                                    <v-icon>local_restaurant</v-icon>
                                </v-avatar>
                                {{dishTitle}}
                            </v-chip>
                            <v-chip  v-if="person_id != 0 && dish_id != 0" color="green" text-color="white">
                                <v-avatar>
                                    <v-icon>flag</v-icon>
                                </v-avatar>
                                {{count}}
                            </v-chip>
                        </v-flex>
                    </v-layout>

                    <v-stepper-items>
                        <v-stepper-content step="1">
                            <h6 class="title mb-2">Wähle einen Gast</h6>
                            <v-list light>
                                <v-list-tile
                                        v-for="(person, index) in persons"
                                        :key="index+'_person_'"
                                        color="info"
                                        @click="choosePerson(person.id)"
                                >
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            {{person.name}}
                                        </v-list-tile-title>
                                    </v-list-tile-content>

                                    <v-list-tile-avatar>
                                        <v-icon large>face</v-icon>
                                    </v-list-tile-avatar>
                                </v-list-tile>
                            </v-list>
                            <v-btn flat @click="create = false; e1 = 1;">Abbrechen</v-btn>
                        </v-stepper-content>

                        <v-stepper-content step="2">
                            <h6 class="title mb-2">Wähle ein Gericht</h6>
                            <v-list light>
                                <v-list-tile
                                        v-for="(dish, index) in dishes"
                                        :key="index+'_dish_'"
                                        color="info"
                                        @click="chooseDish(dish.id)"
                                >
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            {{dish.title}}
                                        </v-list-tile-title>
                                        <v-list-tile-sub-title>
                                            {{dish.description}}
                                        </v-list-tile-sub-title>
                                    </v-list-tile-content>

                                    <v-list-tile-avatar>
                                        <v-icon large>local_restaurant</v-icon>
                                    </v-list-tile-avatar>
                                </v-list-tile>
                            </v-list>

                            <v-btn flat @click="create = false; e1 = 1;">Abbrechen</v-btn>
                        </v-stepper-content>

                        <v-stepper-content step="3">
                            <h6 class="title mb-2">Anzahl</h6>
                            <v-container justify-center align-center>
                                <v-layout>
                                    <v-flex xs12 sm12 md12 lg12>
                                        <v-slider
                                                v-model="count"
                                                thumb-label="always"
                                                min="1"
                                                max="3"
                                        ></v-slider>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <v-btn
                                    color="success"
                                    @click="createNew"
                            >
                                Bestellen
                            </v-btn>

                            <v-btn flat @click="create = false; e1 = 1;">Abbrechen</v-btn>
                        </v-stepper-content>
                    </v-stepper-items>
                </v-stepper>
            </v-card>
        </v-dialog>

        <v-snackbar v-model="updated" absolute multi-line top>
            {{update_message}}
            <v-btn
                    color="pink"
                    flat
                    @click="updated = false"
            >
                Schließen
            </v-btn>
        </v-snackbar>

    </v-container>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "Orders",
        data: function(){
            return {
                e1: 0,
                update_message: '',
                updated: false,
                create: false,
                dish_id: 0,
                person_id: 0,
                count: 1,
                status: 'ordered',
                orders: [],
                persons: [],
                dishes: []
            }
        },
        methods: {
            createNew: async function(){

                this.e1 = 1;
                this.create = false;
                let response = await axios.post('/order',{
                    dish_id: this.dish_id,
                    person_id: this.person_id,
                    count: this.count
                })
                    .then(function(result){
                        console.log(result)
                        this.update_message = 'Bestellung wurde angelegt.'
                        this.updated = true;
                        this.$store.getters.getSocket.emit('update_order', function(){
                            this.updateOrders();
                        }.bind(this));
                    }.bind(this))
                    .catch(function(error){
                        console.log(error)
                        this.update_message = 'Bestellung konnte nicht angelegt werden.'
                        this.updated = true;
                    }.bind(this))

                this.count = 1;
                this.dish_id = 0;
                this.person_id = 0;
                this.updateOrders();
            },
            updateOrder: async function(id){
                let response = await axios.put('/order/'+id,{
                    status: 'delivered'
                })
                    .then(function(result) {
                        console.log(result)
                        this.update_message = 'Bestellung abgeliefert.'
                        this.updated = true;
                        this.$store.getters.getSocket.emit('update_order', function(){
                            this.updateOrders();
                        }.bind(this));
                    }.bind(this))
                    .catch(function(error){
                        console.log(error)
                        this.update_message = 'Bestellung konnte nicht abgeliefert werden.'
                        this.updated = true;
                    }.bind(this))

                this.updateOrders();
            },
            choosePerson: function(id){
                this.person_id=id;
                this.e1=2;
            },
            chooseDish: function(id){
                this.dish_id=id;
                this.e1=3;
            },
            updateOrders: function(){
                let orders = axios.get('/orders')
                    .then(result=>{
                        this.orders = result.data.data;
                    })
                    .catch(error=>{
                        console.log(error)
                    })
            },
            updatePersons: function(){
                let persons = axios.get('/persons')
                    .then(result=>{
                        this.persons = result.data.data;
                    })
                    .catch(error=>{
                        console.log(error)
                    })
            },
            updateDishes: function(){
                let dishes = axios.get('/dishes')
                    .then(result=>{
                        this.dishes = result.data.data;
                    })
                    .catch(error=>{
                        console.log(error)
                    })
            }
        },
        mounted: function(){
            let orders = axios.get('/orders')
                .then(result=>{
                    this.orders = result.data.data;
                })
                .catch(error=>{
                    console.log(error)
                })

            let dishes = axios.get('/dishes')
                .then(result=>{
                    this.dishes = result.data.data;
                })
                .catch(error=>{
                    console.log(error)
                })

            let persons = axios.get('/persons')
                .then(result=>{
                    this.persons = result.data.data;
                })
                .catch(error=>{
                    console.log(error)
                })

            this.$store.getters.getSocket.on('update_person', function(){
                this.updatePersons();
                this.updateOrders();
            }.bind(this));

            this.$store.getters.getSocket.on('update_dish', function(){
                this.updateDishes();
                this.updateOrders();
            }.bind(this));

            this.$store.getters.getSocket.on('update_order', function(){
                this.updateOrders();
            }.bind(this));
        },
        computed: {
            personName: function(){
                return this.person_id != 0 ? this.persons.find(p => p.id == this.person_id).name : '';
            },
            dishTitle: function(){
                return this.dish_id != 0 ? this.dishes.find(d => d.id == this.dish_id).title : '';
            },
            orders_ready: function(){
                return this.orders.length > 0 ? this.orders.filter(o => o.status == 'ready').reverse() : [];
            },
            orders_made: function(){
                return this.orders.length > 0 ? this.orders.filter(o => o.status == 'ordered').reverse() : [];
            }
        }
    }
</script>

<style scoped>

</style>