<template>
    <v-container grid-list-md text-xs-center class="not-full-height">
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-toolbar>
                        <v-toolbar-title>Anwesende Gäste</v-toolbar-title>
                        <v-btn
                                fab
                                medium
                                color="red accent-2"
                                bottom
                                right
                                absolute
                                @click="create=true"
                        >
                            <v-icon>add</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-list two-line subheader>
                        <v-subheader inset>Gäste</v-subheader>
                        <v-list-tile
                                @click=""
                                v-for="(person, index) in persons"
                                :key="index+'_person'"
                        >
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{person.name}}
                                </v-list-tile-title>
                            </v-list-tile-content>

                            <v-list-tile-action>
                                <v-btn color="error" @click="deletePerson(person.id)" class="ml-2">Löschen</v-btn>
                            </v-list-tile-action>

                            <v-list-tile-avatar>
                                <v-icon large>face</v-icon>
                            </v-list-tile-avatar>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>
        <v-dialog v-model="create" persistent>
            <v-card>
                <v-form
                        ref="form"
                        v-model="valid"
                        lazy-validation
                >
                    <v-card-title>
                        <span class="headline">Gast hinzufügen</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field :rules="nameRules" label="Name*" v-model="name" required></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                        <small>*Pflichtfeld</small>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="create = false">Abbrechen</v-btn>
                        <v-btn :disabled="!valid" color="primary" flat @click="createNew">Speichern</v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
        </v-dialog>

        <v-snackbar v-model="updated" absolute multi-line top>
                {{update_message}}
            <v-btn
                    color="pink"
                    flat
                    @click="updated = false"
            >
                Schließen
            </v-btn>
        </v-snackbar>

    </v-container>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "Persons",
        data: function(){
            return {
                update_message: '',
                updated: false,
                create: false,
                name: '',
                persons: [],
                nameRules: [
                    v => !!v || 'Name is required'
                ],
                valid: false
            }
        },
        methods: {
            createNew: async function(){

                if (this.$refs.form.validate()) {
                    //Fire notification
                }else{
                    return;
                }

                this.create = false;
                let response = await axios.post('/person',{
                    name: this.name
                })
                    .then(function(result){
                        console.log(result)
                        this.update_message = 'Ein neuer Gast wurde hinzugefügt.'
                        this.updated = true;
                        this.$store.getters.getSocket.emit('update_person', function(){
                            this.updatePersons();
                        }.bind(this));
                    }.bind(this))
                    .catch(function(error){
                        console.log(error)
                        this.update_message = 'Gast konnte nicht hinzugefügt werden.'
                        this.updated = true;
                    }.bind(this))

                this.name = '';
            },
            deletePerson: async function(id){
                let response = await axios.delete('/person/'+id)
                    .then(function(result) {
                        console.log(result)
                        this.update_message = 'Gast gelöscht'
                        this.updated = true;
                        this.$store.getters.getSocket.emit('update_person', function(){
                            this.updatePersons();
                        }.bind(this));
                    }.bind(this))
                    .catch(function(error){
                        console.log(error)
                        this.update_message = 'Gast konnte nicht gelöscht werden.'
                        this.updated = true;
                    }.bind(this))
            },
            updatePersons: function(){
                let persons = axios.get('/persons')
                    .then(result=>{
                        this.persons = result.data.data;
                    })
                    .catch(error=>{
                        console.log(error)
                    })
            }
        },
        mounted: function(){
            let persons = axios.get('/persons')
                .then(result=>{
                    this.persons = result.data.data;
                })
                .catch(error=>{
                    console.log(error)
                })

            this.$store.getters.getSocket.on('update_person',function(msg){
                this.updatePersons();
            }.bind(this))
        }
    }
</script>

<style scoped>

</style>